In [5]:
import pandas as pd
pd.set_option('display.max_columns',4)
print("Original data:\n")
df=pd.read_excel("/Users/student/Downloads/emp data.xlsx")
print(df)

Original data:

    Unnamed: 0  Emp ID  ... Mother's Maiden Name  Salary
0            0  677509  ...                Lewis  168251
1            1  940761  ...                Perry   51063
2            2  428945  ...               Taylor   51063
3            3  408351  ...                Allen  180000
4            4  193819  ...               Nelson  117642
5            5  499687  ...            Henderson  117642
6            6  539712  ...               Thomas   98189
7            7  380086  ...             Peterson   60918
8            8  477616  ...                 Diaz  121587
9            9  162402  ...                 Ross   43010
10          10  231469  ...                Moore  180000
11          11  153989  ...               Walker  180000
12          12  386158  ...                White  166892
13          13  301576  ...                Hayes   92758
14          14  441771  ...               Watson   92220
15          15  528509  ...               Powell  180000
16          16  912990  ...                Jones  184896
17          17  214352  ...               Turner  184896
18          18  890290  ...                 King  141518

[19 rows x 11 columns]

In [6]:
f=df['First Name'].str.strip()
f.to_excel("/Users/student/Downloads/emp data.xlsx")
print("\n Replace value:")
k=df.fillna(method='pad')
print(k)
print("\n Update list\n")
k.to_excel("/Users/student/Downloads/emp data.xlsx")

 Replace value:
    Unnamed: 0  Emp ID  ... Mother's Maiden Name  Salary
0            0  677509  ...                Lewis  168251
1            1  940761  ...                Perry   51063
2            2  428945  ...               Taylor   51063
3            3  408351  ...                Allen  180000
4            4  193819  ...               Nelson  117642
5            5  499687  ...            Henderson  117642
6            6  539712  ...               Thomas   98189
7            7  380086  ...             Peterson   60918
8            8  477616  ...                 Diaz  121587
9            9  162402  ...                 Ross   43010
10          10  231469  ...                Moore  180000
11          11  153989  ...               Walker  180000
12          12  386158  ...                White  166892
13          13  301576  ...                Hayes   92758
14          14  441771  ...               Watson   92220
15          15  528509  ...               Powell  180000
16          16  912990  ...                Jones  184896
17          17  214352  ...               Turner  184896
18          18  890290  ...                 King  141518

[19 rows x 11 columns]

 Update list

In [7]:
print("\n Drop one particular column and its values:\n")
k.drop(['Gender'],axis=1,inplace=True)
print(k)
print("\n Updated list\n")
k.to_excel("/Users/student/Downloads/emp data.xlsx")

 Drop one particular column and its values:

    Unnamed: 0  Emp ID  ... Mother's Maiden Name  Salary
0            0  677509  ...                Lewis  168251
1            1  940761  ...                Perry   51063
2            2  428945  ...               Taylor   51063
3            3  408351  ...                Allen  180000
4            4  193819  ...               Nelson  117642
5            5  499687  ...            Henderson  117642
6            6  539712  ...               Thomas   98189
7            7  380086  ...             Peterson   60918
8            8  477616  ...                 Diaz  121587
9            9  162402  ...                 Ross   43010
10          10  231469  ...                Moore  180000
11          11  153989  ...               Walker  180000
12          12  386158  ...                White  166892
13          13  301576  ...                Hayes   92758
14          14  441771  ...               Watson   92220
15          15  528509  ...               Powell  180000
16          16  912990  ...                Jones  184896
17          17  214352  ...               Turner  184896
18          18  890290  ...                 King  141518

[19 rows x 10 columns]

 Updated list