In [3]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.rand(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original Dataframe with NaN\n",df)
print("\n")
print("Dropped DataFrame\n",df.dropna())
print("\n")

Original Dataframe with NaN
         one       two     three
a  0.053722  0.639064  0.993850
b       NaN       NaN       NaN
c  0.757973  0.322868  0.235859
d  0.738923  0.337562  0.541773
e       NaN       NaN       NaN
f  0.729204  0.366114  0.727562


Dropped DataFrame
         one       two     three
a  0.053722  0.639064  0.993850
c  0.757973  0.322868  0.235859
d  0.738923  0.337562  0.541773
f  0.729204  0.366114  0.727562

In [5]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.rand(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c'])
print("Original Dataframe:\n",df)
print("\n")
print("NaN replaced with '0':\n",df.fillna(0))
print("\n")

Original Dataframe:
         one       two     three
a  0.247289  0.786620  0.601543
b       NaN       NaN       NaN
c  0.775961  0.661943  0.824062


NaN replaced with '0':
         one       two     three
a  0.247289  0.786620  0.601543
b  0.000000  0.000000  0.000000
c  0.775961  0.661943  0.824062

In [6]:
df=pd.DataFrame({'one':[10,20,80,40,50],'two':[60,70,80,0,10]})
print("Original DataFrame:\n",df)
print("\n DataFrame with replaced values:\n")
print(df.replace({10:5,80:3}))

Original DataFrame:
    one  two
0   10   60
1   20   70
2   80   80
3   40    0
4   50   10

 DataFrame with replaced values:

   one  two
0    5   60
1   20   70
2    3    3
3   40    0
4   50    5

In [11]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['One','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame:\n",df)
print("\n NaN-with True fill:\n")
print(df['One'].isnull())

Original DataFrame:
         One       two     three
a  1.421734 -1.351939  0.624721
b       NaN       NaN       NaN
c  0.198130  0.936508  0.119067
d  0.346215 -1.500351 -1.014110
e       NaN       NaN       NaN
f  0.732242  1.882778 -0.793317

 NaN-with True fill:

a    False
b     True
c    False
d    False
e     True
f    False
Name: One, dtype: bool

In [12]:
print("\n NaN-filled with Background values:\n")
print(df.fillna(method='bfill'))

 NaN-filled with Background values:

        One       two     three
a  1.421734 -1.351939  0.624721
b  0.198130  0.936508  0.119067
c  0.198130  0.936508  0.119067
d  0.346215 -1.500351 -1.014110
e  0.732242  1.882778 -0.793317
f  0.732242  1.882778 -0.793317