In [8]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'Name':['Alice','Bob','Charlie','Alice','Bob','Charlie'],'Category':['A','B','C','A','B','C'],'Value':np.random.randint(1,5,size=6),'Score':np.random.randint(60,100,size=6)})
print("Orginal DataFrame\n",df)
df1=df.groupby(('Name'),as_index=False)['Value'].sum()
print("Data aggregation with one column\n",df1)

Orginal DataFrame
       Name Category  Value  Score
0    Alice        A      2     73
1      Bob        B      1     78
2  Charlie        C      3     98
3    Alice        A      4     89
4      Bob        B      2     65
5  Charlie        C      1     72
Data aggregation with one column
       Name  Value
0    Alice      6
1      Bob      3
2  Charlie      4

In [11]:
df2=df.groupby(('Name'),as_index=False)['Value'].agg(sum)
print("Group and aggregation with two column sum\n",df2)

Group and aggregation with two column
       Name  Value  Score
0    Alice      6    162
1      Bob      3    143
2  Charlie      4    170

In [28]:
df3=df.groupby(('Name'),as_index=False)['Value'].sum()
print("Group and display from last\n",df3)

Group and display from last
       Name  Value
0    Alice      6
1      Bob      3
2  Charlie      4

In [18]:
df4=df.groupby('Name').agg({'Value':['sum','mean','min','max'],'Score':['sum','mean']})
print("Group name by multiple aggregation\n",df4)

Group name by multiple aggregation
         Value              Score
          sum mean min max   sum  mean
Name
Alice       6  3.0   2   4   162  81.0
Bob         3  1.5   1   2   143  71.5
Charlie     4  2.0   1   3   170  85.0

In [19]:
df5=df.groupby(('Name'),as_index=False)['Value'].count()
print("Group and count\n",df5)

Group and count
       Name  Value
0    Alice      2
1      Bob      2
2  Charlie      2

In [21]:
df6=df.groupby('Name').count()
print("Group and count\n",df6)

Group and count
          Category  Value  Score
Name
Alice           2      2      2
Bob             2      2      2
Charlie         2      2      2

In [22]:
df7=df.groupby(('Name'),as_index=False)['Value'].first()
print("\nGroup and display from first\n",df7)

Group and display from first
       Name  Value
0    Alice      2
1      Bob      1
2  Charlie      3

In [23]:
df8=df.groupby('Name').first()
print("Group and display from first\n",df8)

Group and display from first
         Category  Value  Score
Name
Alice          A      2     73
Bob            B      1     78
Charlie        C      3     98

In [24]:
df9=df.groupby(('Name'),as_index=False)['Value'].last()
print("Group and display from last\n",df9)

Group and display from last
       Name  Value
0    Alice      4
1      Bob      2
2  Charlie      1

In [25]:
df10=df.groupby('Name').last()
print("Group and display from last\n",df10)

Group and display from last
         Category  Value  Score
Name
Alice          A      4     89
Bob            B      2     65
Charlie        C      1     72

In [26]:
df11=df.groupby(('Name'),as_index=False)['Value'].size()
print("Group and display size\n",df11)

Group and display size
       Name  size
0    Alice     2
1      Bob     2
2  Charlie     2

In [27]:
df12=df.groupby('Name').last()
print("Group and display from last\n",df12)

Group and display from last
         Category  Value  Score
Name
Alice          A      4     89
Bob            B      2     65
Charlie        C      1     72